*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #121212;
}

body.overflow {
  width: calc(100vw - 17px);
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1340px) {
  .container {
    padding: 0 20px;
  }
}

.container-fluid {
  padding: 0 40px;
}
@media screen and (min-width: 1600px) {
  .container-fluid {
    padding: 0 80px;
  }
}
@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 20px;
  }
}
